h1{
  font-family: 'Montserrat', sans-serif;
  background-color:  rgb(190,244,190);
}
ul{
  overflow: hidden;
  background-color: rgb(190,244,190);
  padding: 0px;
}
li{
  float:left;
  list-style: none;
  width: 20%;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}
a{
  color: #ffffff;
  text-decoration-style: none;
}
img{
height:200px;
width: 100%;
}
.a{
  width:20%;
  float:left;
}
.b{
  width: 80%;
  float: left;
}
.contenedora{
  overflow:hidden;
background-color: rgb(190,244,190);
}
