header {
  width: 100%;
  height: 130px;
  overflow: hidden;

}
header img {
  height: 130px;
  width: 120px;
}
h1{
  font-family: 'Srisakdi', cursive;
  color: lightgreen;
}

ol{
  font-style: italic;
}
