body{
  background-color: rgb(0, 0, 0);
  color: white;
}

.contenedor{
  overflow:hidden;
}
.gray{
text-align:center;
color: rgb(95, 98, 102);
font-size: 400%;
}

.intro{
  text-align: center;
  color: rgb(41, 82, 102);
  font-size: 200%;

}


.metallica{
  text-align: center;
  }


  .blacksabbath{
    text-align: center;
}

.ironmaiden{
text-align: : center;

}


.megadeth{
text-align: right;

}

.dio{
  text-align: left;
  }

.acdc{
    float: left ;
  }

.foofighters{
      float: left;
    }


.gunsnroses{
        float:left ;
        }

.barradeinicio{
color: #CCCCCC

}

.JH{

font-size: 120px;

}
