ul{
  overflow: hidden;
  background-color: black;
  padding: 0px;
}
li{
  float: left;
  list-style: none;
  width: 33%;
  text-align: center;
  padding: 23px;
  box-sizing: border-box;
}
a{
  color: white;
  text-decoration: none;
}
a:hover{
  color: grey;
}
header{
  height: 50px;
}
main{
  height: 700px;
}
main{
  margin: 35px;
}
