h1{
  color:green
}
h2{
  color:lightgreen
}
.caja1{
  color:green;
  float: left;
  width: 49%;
  border: 2px solid black
}
.caja2{
  color:green;
  float: right;
  width: 49%;
  border: 2px solid black
}
img{
  width:95%;
  height:450px;
  box-sizing: border-box;
  padding: 25px;
}
img{
  width:90%;
  height:400px;
  box-sizing: border-box;
  padding: 25px;
}
