title{color: white;
background-color: red;
font-family: fantasy;
box-sizing: border-box;}
img{width: inherit;
height: inherit;
margin-left: 250px;
background-color: black;}

body{background-color: black;}
a {color: white;
background-color: red;
font-family: fantasy;
box-sizing: border-box;}
