footer {
  background-color:#663399;
}
header {background-color: #CD5C5C;
}
ul {overflow: hidden;
background-color: #fa773d
padding: 0px; }
li {float: left;
list-style: none;
width: 20%;
text-align: center;
padding: 10px;
box-sizing:border-box;
}
a {color: #ffffff;
text-decoration: none;}
main {text-align: center;
color:#800000;
background-color: #00FFFF; }
