p{
  color: white;
  margin-left: 450px;
  margin-bottom: 150px;
  margin-top: 15px;
  font-family: 'Poppins', sans-serif;
  color: white;
}
.navbar{
  margin: 70px;
  margin-bottom: 40px;
}
body{
background-image: url("fondo.jpg");
}
h1{
  width: 40%;
  height: 75px;
  background-color: #633E49;
  margin-left: 290px;
  margin-bottom: 30px;
  padding-left: 240px;
  padding-top: 29px;
  text-decoration: none;
  color: white;
  font-family: 'Poppins', sans-serif;
}
h2{
  color: white;
  font-family: monospace;
  text-align: center;
  margin-top: 10px;
margin-right: 1px;
}
