.caja_1 p{
  color: black;
  border: green solid;
  font-size:20px;
  background-color: rgba(255, 255, 255, 0.5);

}
.caja_2 p{
  color: black;
  border: black solid;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.5);

}
.imagen img{
  height:239.5px;
}


.footer{
  background-color: black;
  background-color: rgba(255, 255, 255, 0.5);
}
.title{
text-align: center;
}

li{
    width:20%;
    float:left;
    background-color: grey;
    border: 2px solid crimson;
    list-style:none;
    text-align: center;
}
.barra{
  overflow: hidden;
}

a{
  text-decoration: none;
}
